parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property AdminApplication\\:\\:\\$config\\.$#"
			count: 1
			path: Admin/AdminApplication.php

		-
			message: "#^Access to an undefined property AdminApplication\\:\\:\\$database\\.$#"
			count: 1
			path: Admin/AdminApplication.php

		-
			message: "#^Access to an undefined property AdminApplication\\:\\:\\$session\\.$#"
			count: 1
			path: Admin/AdminApplication.php

		-
			message: "#^Access to an undefined property AdminSessionModule\\:\\:\\$history\\.$#"
			count: 1
			path: Admin/AdminSessionModule.php

		-
			message: "#^Access to an undefined property AdminSessionModule\\:\\:\\$user\\.$#"
			count: 10
			path: Admin/AdminSessionModule.php

		-
			message: "#^Access to an undefined property AdminUser\\:\\:\\$most_recent_history\\.$#"
			count: 1
			path: Admin/dataobjects/AdminUser.php

		-
			message: "#^Variable \\$transaction might not be defined\\.$#"
			count: 1
			path: Admin/pages/AdminDBConfirmation.php

		-
			message: "#^Variable \\$transaction might not be defined\\.$#"
			count: 1
			path: Admin/pages/AdminDBEdit.php

		-
			message: "#^Variable \\$transaction might not be defined\\.$#"
			count: 1
			path: Admin/pages/AdminDBOrder.php
