parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property AdminSessionModule\\:\\:\\$history\\.$#"
			count: 1
			path: Admin/AdminSessionModule.php

		-
			message: "#^Access to an undefined property AdminSessionModule\\:\\:\\$user\\.$#"
			count: 10
			path: Admin/AdminSessionModule.php

		-
			message: "#^Variable \\$transaction might not be defined\\.$#"
			count: 1
			path: Admin/pages/AdminDBConfirmation.php

		-
			message: "#^Variable \\$transaction might not be defined\\.$#"
			count: 1
			path: Admin/pages/AdminDBEdit.php

		-
			message: "#^Variable \\$transaction might not be defined\\.$#"
			count: 1
			path: Admin/pages/AdminDBOrder.php
