/* Login Page Styles */

#login_frame,
#forgot_password_frame {
	width: 360px;
	margin: 4em auto 1em auto;
	text-align: left;
}

#reset_password_frame {
	width: 40em;
	margin: 4em auto 1em auto;
	text-align: left;
}


#password_container.swat-displayable-container {
	float: left;
	width: 164px;
}

.swat-form-field-with-messages #password_container.swat-displayable-container {
	width: 155px;
}

#password_container.no-reset-password {
	float: none;
	width: 314px;
}

#password_container.no-reset-password #password.swat-entry,
#email.swat-entry {
	width: 314px;
}

.swat-form-field-with-messages #password_container.no-reset-password #password.swat-entry,
.swat-form-field-with-messages #email.swat-entry {
	width: 296px;
}

#password.swat-entry,
#confirm_password.swat-entry {
	width: 150px;
}

.swat-form-field-with-messages #password.swat-entry,
.swat-form-field-with-messages #confirm_password.swat-entry {
	width: 141px;
}

#forgot_container.swat-displayable-container {
	padding-top: 2px;
}

#forgot.swat-tool-link,
#forgot.swat-tool-link:link,
#forgot.swat-tool-link:visited,
#forgot.swat-tool-link:active,
#forgot.swat-tool-link:hover {
	color: #1976D2;
	font-size: 11px;
	border: 0;
	background: transparent;
	text-decoration: underline;
	padding: 4px 8px;
	margin: 1px 0 0 0;
	display: inline-block;
	cursor: pointer;
	text-shadow: none;
	border-radius: 0;
	box-shadow: none;
}

#forgot.swat-tool-link .swat-tool-link-title {
	text-decoration: underline;
}

#forgot.swat-tool-link:active,
#forgot.swat-tool-link:hover {
	position: static;
	top: 0;
	left: 0;
	color: #666;
}
