/* Admin menu styles */

.admin-menu {
	margin-top: 1em;
	margin-bottom: 1em;
	color: #666;
}

/* layouts with menu on left */
.yui-t1 .admin-menu,
.yui-t2 .admin-menu,
.yui-t3 .admin-menu {
	margin-left: 1em;
}

/* layouts with menu on right */
.yui-t4 .admin-menu,
.yui-t5 .admin-menu,
.yui-t6 .admin-menu {
	margin-right: 1em;
}

.admin-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #837352;
}

.admin-menu ul .menu-section-title {
	display: block;
	margin: 0;
	padding: 8px 8px 2px;
	color: #888;
	font-size: 85%;
}

.admin-menu ul .menu-section-title span {
	display: block;
}

.admin-menu li li a {
	display: block;
	padding: 3px 12px;
}

.admin-menu ul ul {
	display: block;
	list-style-type: none;
	padding: 0;
}

.admin-menu ul ul ul li {
	padding-left: 18px;
	font-size: 85%;
}

.admin-menu a:link,
.admin-menu a:visited {
	text-decoration: none;
}

.admin-menu a:hover {
	background: #e2e0df;
}


/* Menu-hiding styles */

body .admin-menu-hide img {
	display: none;
}

body .admin-menu-show {
	display: none;
}
