.admin-note {
	margin: 16px 0;
	background: #fff9c4;
	color: #888;
	color: rgba(0,0,0,0.54);
	padding: 12px;
	border-radius: 2px;
	box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
}

.swat-frame .admin-note {
	margin: 0 0 16px;
}

.admin-note-title {
	margin: 0;
	color: #888;
	color: rgba(0,0,0,0.54);
}

.admin-note dd {
	margin-bottom: 0.5em;
	margin-left: 1em;
}
