body {
	font-family: sans-serif;
	font-size: 13px;
	background: #f7f5f3;
	color: #333;
	margin: 0;
	padding: 0;
}

a:link { color: #3F5ACE; }
a:visited { color: #3F5ACE; }
a:hover { color: #333; }
a:active { color: #000; }

img { border: 0; }


/* Basic Layout */

#admin-body {
}

#admin-menu {
	position: absolute;
	top: 3em;
	left: 0;
	width: 160px;
	color: #666;
	padding: 2em 16px;
}

#admin-content {
	padding: 1em 16px 1em 200px;
}

/* Menu-hiding styles */

body.hide-menu #admin-menu {
	display: none;
} 

body.hide-menu #admin-content {
	padding-left: 16px;
} 


/* Header Styles */

#admin-header {
	background: #426c9e url(../images/admin-header-background.png) bottom repeat-x;
	padding: 0.5em 1em;
	color: #ddd;
	border-bottom: 1px solid #81aed5;
}

#admin-header a { color: #fff; }
#admin-header a:hover { color: #ddd; }
#admin-header a:active { color: #ccc; }

#admin-header #admin-syslinks {
	float: right;
	margin: 0.1em 0 0 2em;
}

#admin-header h1 {
	margin: 0;
	padding: 0;
	font-size: 120%;
	color: #fff;
	display: inline;
	font-weight: bold;
}

#admin-navbar {
}


/* Menu Styles */

#admin-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #837352;
}

#admin-menu ul span {
	display: block;
	background: #fff url(../../swat/images/swat-frame-header.png) bottom left repeat-x;
	padding: 1px 4px 3px 4px;
	margin: 1px 1px 4px 1px;
	font-weight: bold;
}

#admin-menu ul li {
	border: 1px solid #e7ddc8;
	margin-bottom: 6px;
	background: #fff;
}

#admin-menu li li {
	border: 0;
	padding: 0;
	margin: 0 4px 0 4px;
}

#admin-menu ul ul {
	padding: 0 0 0.5em 1.3em;
	list-style-type: circle;
}

#admin-menu ul ul ul {
	padding-bottom: 0;
}

#admin-menu ul ul ul li {
	font-size: 85%;
}

#admin-menu a:link,
#admin-menu a:visited {
	text-decoration: none;
}

#admin-menu a:hover {
	text-decoration: underline;
}

/* Content Styles */

.admin-light {
	color: #666;
}

/* Confirmation dialogs */

#confirmation_frame div.admin-dependency {
	background: url(../../swat/images/tango/48/dialog-question.png) top left no-repeat;
	padding: 0 0 0 64px;

}

#confirmation_frame h3 {
	margin-top: 0;
}
