.swat-frame,
.swat-disclosure-control-opened .swat-disclosure-container,
.swat-message-display .swat-message,
.swat-tool-link,
.swat-fieldset,
.swat-grouping-form-field-fieldset {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.swat-disclosure-control-opened .swat-disclosure-container,
.swat-fieldset,
.swat-grouping-form-field-fieldset {
	margin-left: 0;
	margin-right: 0;
	border-color: #e0e0e0;
}


/* SwatFrame */

.swat-frame {
	background: #fff;
}


/* SwatFieldset */

.swat-fieldset legend,
.swat-grouping-form-field-fieldset legend {
	margin: 0 16px;
	padding: 0 8px;
}

.swat-fieldset,
.swat-grouping-form-field-fieldset {
	padding: 8px 16px 16px;
	border-right: none;
	border-bottom: none;
	border-left: none;
}


/* SwatMessage and SwatMessageDisplay */

.swat-message-display .swat-message {
	border: 0;
	box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
}

.swat-message-notice {
	background: #FFF9C4;
}

.swat-message-warning {
	background: #FFE082;
}

.swat-message-error {
	background: #F44336;
}

.swat-message-notice .swat-message-primary-content,
.swat-message-warning .swat-message-primary-content,
.swat-message-notice .swat-message-secondary-content,
.swat-message-warning .swat-message-secondary-content {
	color: #888;
	color: rgba(0,0,0,0.54);
}

.swat-message-notice .swat-message-primary-content a,
.swat-message-warning .swat-message-primary-content a,
.swat-message-notice .swat-message-secondary-content a,
.swat-message-warning .swat-message-secondary-content a {
	color: rgba(25, 118, 210, 0.87);
}

.swat-message-error .swat-message-primary-content,
.swat-message-error .swat-message-secondary-content {
	color: #aaa;
	color: rgba(255,255,255,0.87);
}

.swat-message-error .swat-message-primary-content a,
.swat-message-error .swat-message-secondary-content a {
	color: #aaa;
	color: rgba(255,255,255,0.87);
}

.swat-message-display .swat-message .swat-message-container {
	padding: 12px;
}

.swat-message-display .swat-message-notice {
	background-image: none;
}

.swat-message-display .swat-message-warning {
	background-image: none;
}

.swat-message-display .swat-message-error,
.swat-message-display .swat-message-system-error {
	background-image: none;
}

.swat-message-display .swat-message .swat-message-container {
	min-height: 0;
}

.swat-message-display-dismiss-link,
.swat-message-display-dismiss-link:link,
.swat-message-display-dismiss-link:visited {
	right: 1px;
	top: 1px;
}


/* SwatFormField */

.swat-form-field-with-messages {
	background: #ffe3e0;
	padding: 8px;
	border-color: #f0b5b1;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.swat-form-field-messages .swat-message {
	color: #e31b0c;
	background-image: none;
	padding: 2px 4px;
}

span.swat-required {
	color: #FFA000;
}


/* SwatFooterFormField */

.swat-frame .swat-footer-form-field {
	display: block;
	background: #f8f6f0;
	border-top: 1px solid #efe8da;
	padding: 15px 15px;
}

.swat-footer-form-field .swat-button {
	margin-right: 12px;
}

.swat-header-form-field input.swat-primary,
.swat-footer-form-field input.swat-primary {
	font-weight: 700;
}


/* SwatCalendar */

.swat-calendar-div {
	padding: 3px;
	background: #f8f6f0;
	border: 1px solid #dcceb2;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,0.15);
	box-shadow: 0 2px 2px -1px rgba(0,0,0,0.15);
}

.swat-calendar-div .swat-calendar-frame {
	background: #fff;
}

.swat-calendar-current-cell {
	background: #fffbc9;
	color: #333;
}


/* SwatTableView */

.swat-table-view tbody tr {
	background: #fff;
}

.swat-table-view tbody tr.highlight,
.swat-table-view tbody tr.highlight-odd {
	background: #FFF9C4;
}

.swat-table-view td,
.swat-table-view th {
	padding: 8px 4px;
}

.swat-table-view thead th {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: normal;
}

.swat-table-view thead th span img {
	vertical-align: bottom;
}

.swat-table-view thead tr th,
.swat-table-view .swat-table-view-group {
	border-bottom: none;
}

.swat-table-view tbody tr td,
.swat-table-view tbody tr th {
	border-top: 1px solid #ebebeb;
}

.swat-table-view tbody tr.highlight + tr.highlight-odd td,
.swat-table-view tbody tr.highlight-odd + tr.highlight td {
	border-top: 1px solid #f0eade;
}


/* SwatCheckboxList, SwatCheckbox, SwatCheckAll and SwatCheckboxCellRenderer */

span.swat-checkbox-wrapper {
	position: relative;
}

span.swat-checkbox-shim {
	-webkit-appearance: none;
	-moz-appearance: none;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin: 3px 3px 3px 4px;
	text-indent: -25px;
	border: none;
	padding: 0;
	background: url(../images/admin-checkbox-radio-buttons.png) no-repeat;
	background-position: 0 0;
}

input:checked + span.swat-checkbox-shim {
	background-position: -16px 0;
}

input:focus + span.swat-checkbox-shim::before {
	display: block;
	border-radius: 50%;
	background: rgba(0,0,0,0.1);
	content: ".";
	text-indent: -100%;
	overflow: hidden;
	width: 28px;
	height: 28px;
	position: relative;
	top: -6px;
	left: -6px;
}

input:focus:checked + span.swat-checkbox-shim::before {
	background: rgba(33,150,243,0.24);
}

span.swat-checkbox-wrapper input {
	opacity: 0;
	position: absolute;
	top: -1px;
	left: 2px;
}

.ie6 span.swat-checkbox-shim,
.ie7 span.swat-checkbox-shim,
.ie8 span.swat-checkbox-shim {
	display: none;
}

.ie6 span.swat-checkbox-wrapper input,
.ie7 span.swat-checkbox-wrapper input,
.ie8 span.swat-checkbox-wrapper input{
	opacity: 1;
	position: static;
	top: 0;
	left: 0;
}

.swat-checkbox-list ul label {
	vertical-align: middle;
	padding: 0 0 0 4px;
}

.swat-check-all label span.swat-check-all-title {
	vertical-align: middle;
	padding: 0 0 0 4px;
	text-transform: uppercase;
	color: #666;
	font-size: 11px;
	font-weight: normal;
}

.swat-table-view .swat-check-all label span.swat-check-all-title {
	padding: 0 0 0 8px;
}

.swat-form-field-checkbox .swat-form-field-contents {
	display: inline-block;
	vertical-align: middle;
}

.swat-form-field-checkbox .swat-note {
	padding: 0 0 0 29px;
}

.swat-form-field-checkbox label {
	vertical-align: middle;
}


/* SwatRadioList */

ul.swat-radio-list label {
	vertical-align: middle;
	padding: 0 0 0 4px;
}

span.swat-radio-wrapper {
	position: relative;
}

span.swat-radio-shim {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin: 3px 3px 3px 4px;
	text-indent: -25px;
	border: none;
	padding: 0;
	background: url(../images/admin-checkbox-radio-buttons.png) no-repeat;
	background-position: 0 -16px;
}

input:checked + span.swat-radio-shim {
	background-position: -16px -16px;
}

input:focus + span.swat-radio-shim::before {
	display: block;
	border-radius: 50%;
	background: rgba(0,0,0,0.1);
	content: ".";
	text-indent: -100%;
	overflow: hidden;
	width: 28px;
	height: 28px;
	position: relative;
	top: -6px;
	left: -6px;
}

input:focus:checked + span.swat-radio-shim::before {
	background: rgba(33,150,243,0.24);
}

span.swat-radio-wrapper input {
	opacity: 0;
	position: absolute;
	top: -1px;
	left: 2px;
}

.ie6 span.swat-radio-shim,
.ie7 span.swat-radio-shim,
.ie8 span.swat-radio-shim {
	display: none;
}

.ie6 span.swat-radio-wrapper input,
.ie7 span.swat-radio-wrapper input,
.ie8 span.swat-radio-wrapper input {
	opacity: 1.0;
	position: static;
	top: 0;
	left: 0;
}


/* SwatActions */

.swat-actions .swat-flydown {
	margin: 0 8px;
	padding: 5px 0;
	border: 1px solid #aaa;
	width: 150px;
	background: #fff;
	border-radius: 2px;
	position: relative;
	top: -1px;
}

.swat-actions input.swat-button-apply {
	margin-left: 0;
	color: #fff;
}

.swat-actions-controls>label {
	display: none;
}

.swat-actions input.swat-button-apply:active {
	top: 0;
}

.swat-frame .swat-actions {
	background: inherit;
	margin: 0;
	padding: 0 0 0 30px;
	position: relative;
}

.swat-frame .swat-actions:before {
	/* TODO: make a graphic */
	content: "↴";
	color: #888;
	position: absolute;
	left: 14px;
	top: 3px;
	font-size: 13px;
	font-family: arial, sans-serif;
	font-weight: bold;
	transform: rotate(90deg);
	-webkit-transform: rotate(180deg);
}

.swat-frame .swat-actions .swat-actions-note {
	padding: 0 0 0 8px;
	margin: 0;
	display: none;
}


/* SwatChangeOrder */

.swat-change-order-list {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-color: #ccc;
}

.swat-change-order-item {
	text-align: left;
	padding: 4px 8px;
}

.swat-change-order-item-active {
	background-color: #fffbc9;
	color: #333;
}

.swat-change-order-item .swat-change-order-item-grippy {
	margin: -2px -8px -2px 0;
}

.swat-change-order-buttons input[type=button],
.swat-change-order-buttons input.swat-change-order-top,
.swat-change-order-buttons input.swat-change-order-bottom {
	font-size: 13px;
	width: 120px;
	padding: 4px 8px;
}

/* SwatPagination */

.swat-pagination-position {
	display: none;
}

.swat-pagination a.swat-pagination-nextprev,
.swat-pagination span.swat-pagination-nextprev {
	font-weight: normal;
}

.swat-pagination a,
.swat-pagination span {
	padding: 2px 6px;
	font-size: 15px;
	margin: 0 1px;
	border: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.swat-pagination span.swat-pagination-current {
	background: #1976D2;
	color: #fff;
	padding: 3px 8px;
	border: none;
}


/* SwatEntry and SwatTextarea */

div.swat-textarea-container textarea,
input.swat-entry {
	padding: 4px 6px;
	margin-top: 2px;
	background-color: #fff;
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid #c2c2c2;
	font-size: 120%;
}
div.swat-textarea-container textarea:hover,
input.swat-entry:hover {
	background: #f8f8f8;
}

div.swat-textarea-container textarea:focus,
input.swat-entry:focus {
	outline: none;
	border-color: #1976D2;
	box-shadow:
		0 1px 0px rgba(140,196,255,1.0);
}

input.swat-entry:-webkit-autofill {
	background-color: #fffbc9;
}

/* Note: this does not work in IE6 */
input.swat-entry.swat-insensitive {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter:alpha(opacity=50);
	opacity: 0.5;
	background-color: #eee;
}


/* SwatButton, SwatToolLink */

input[type=button],
a.swat-tool-link,
input.swat-button {
	color: #fff;
	background: #009688;
	font-weight: 700;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	padding: 8px 16px;
	text-transform: uppercase;
	border-radius: 2px;
	border: 0;
	box-shadow:
		0 0 2px rgba(0,0,0,0.12),
		0 2px 2px rgba(0,0,0,0.24);

	transition: box-shadow 0.2s ease;
}

input[type=button]::-moz-focus-inner,
input.swat-button::-moz-focus-inner {
	outline: none;
	padding: 0;
	border: none;
}

input[type=button]:hover,
a.swat-tool-link:hover,
input.swat-button:hover {
	background: #00897B;
}

a.swat-tool-link:hover {
	cursor: default;
}

a.swat-tool-link:hover .swat-tool-link-title {
	text-decoration: none;
}

.swat-tool-link .swat-tool-link-icon {
	display: none;
}

.swat-tool-link .swat-tool-link-title {
	line-height: 100%;
}

input[type=button]:focus,
a.swat-tool-link:focus,
input.swat-button:focus {
	outline: none;
	border: none;
	box-shadow:
		0 0 4px rgba(0,0,0,0.12),
		0 4px 4px rgba(0,0,0,0.24);
}

input[type=button]:active,
a.swat-tool-link:active,
input.swat-button:active {
	background: #26A69A;
	box-shadow:
		0 0 8px rgba(0,0,0,0.12),
		0 8px 8px rgba(0,0,0,0.24);
}


/* SwatToolbar */

ul.swat-toolbar {
	margin: 0 -15px;
	background: #f8f6f0;
	background: #fff;
}


/* SwatToolLink */

.swat-tool-link .swat-tool-link-title {
	text-shadow: none;
}

.swat-toolbar .swat-tool-link-cancel .swat-tool-link-icon,
.swat-toolbar .swat-tool-link-add .swat-tool-link-icon,
.swat-toolbar .swat-tool-link-create .swat-tool-link-icon,
.swat-toolbar .swat-tool-link-delete .swat-tool-link-icon,
.swat-toolbar .swat-tool-link-download .swat-tool-link-icon,
.swat-toolbar .swat-tool-link-edit .swat-tool-link-icon,
.swat-toolbar .swat-tool-link-email .swat-tool-link-icon,
.swat-toolbar .swat-tool-link-print .swat-tool-link-icon,
.swat-toolbar .swat-tool-link-change-order .swat-tool-link-icon {
	display: inline-block;
	background-image: url(../images/swat-tool-link-icons.png);
}

.swat-toolbar .swat-tool-link {
	border-radius: 0;
	background: #fff;
	margin: 3px;
	border: 0;
	box-shadow:
		2px 0 0 #fff,
		7px 0 0 -4px #f0eade;
}

.swat-toolbar li {
	display: inline-block;
}

.ie6 .swat-toolbar li,
.ie7 .swat-toolbar li,
.ie8 .swat-toolbar li {
	display: inline;
	border-right: 1px solid #f0eade;
}

.swat-toolbar .swat-tool-link .swat-tool-link-title {
	color: #1976D2;
	text-shadow: none;
	font-weight: normal;
	font-size: 13px;
	text-transform: none;
	line-height: 16px
}

.swat-toolbar .swat-tool-link-insensitive .swat-tool-link-title {
	color: #aaa;
}

.swat-toolbar a.swat-tool-link {
	cursor: pointer;
}

.swat-toolbar a.swat-tool-link:hover,
.swat-toolbar a.swat-tool-link:active {
	position: static;
	top: 0;
	background: #e5e5e5;
	border: none;
	-webkit-box-shadow:
		2px 0 0 #fff,
		7px 0 0 -4px #f0eade;

	-moz-box-shadow:
		2px 0 0 #fff,
		7px 0 0 -4px #f0eade;

	box-shadow:
		2px 0 0 #fff,
		7px 0 0 -4px #f0eade;
}

.swat-toolbar a.swat-tool-link:active {
	background: #f3efe5;
}

.swat-toolbar a.swat-tool-link:hover .swat-tool-link-title {
	text-decoration: underline;
}
