body {
	background: #f7f5f3;
	color: #333;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}

/* turn off 10px left/right margins from default YUI grid  */
#doc, #doc2, #doc3 {
	margin: 0;
}

a:link,
a:visited {
	color: #1976D2;
}

a:hover {
	color: #333;
}

a:active {
	color: #000;
}

img {
	border: 0;
}

/* YUI Reset basics */
strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

p {
	margin: 0 0 1em 0;
}

#yui-main .yui-b {
	margin-top: 1em;
}

/* layouts with menu on left */
.yui-t1 #yui-main .yui-b,
.yui-t2 #yui-main .yui-b,
.yui-t3 #yui-main .yui-b {
	margin-right: 1em;
}

/* layouts with menu on right */
.yui-t4 #yui-main .yui-b,
.yui-t5 #yui-main .yui-b,
.yui-t6 #yui-main .yui-b {
	margin-left: 1em;
}

#doc3 {
	min-width: 74.923em;
}


/* Header Styles */

#hd {
	padding: 2px 0;
	color: #888;
}

#hd a { color: #555; }
#hd a:hover { color: #777; }
#hd a:active { color: #888; }

#hd #admin-syslinks {
	float: right;
	margin: 0 0 0 2em;
	position: relative;
	top: -2px;
	z-index: 1;
}

#hd h1 {
	margin: 0;
	padding: 0;
	font-size: 100%;
	display: inline;
	font-weight: normal;
}


/* Basic styles to build up from YUI reset */

h1, h2, h3, h4, h5, h6{ font-weight: bold;  }

h1 { font-size: 152%; }
h2 { font-size: 136%; }
h3 { font-size: 122%; }
h4 { font-size: 107%; }
h5 { font-size:  92%; }
h6 { font-size:  85%; }


/* Content Styles */

.admin-light {
	color: #666;
}

/* Confirmation dialogs */

#confirmation_container {
	background: url(../images/admin-dialog-question.png) -4px -4px no-repeat;
	padding: 0 0 0 52px;
	min-height: 48px;
	margin: 8px 0 32px;
}

#confirmation_container > h3 {
	margin-top: 0;
	padding-top: 9px;
}

.ie6 #confirmation_container {
	height: 48px;
}

#confirmation_frame ul {
	list-style-type: disc;
	padding-left: 24px;
}

#confirmation_frame ul li {
	margin-left: 16px;
	margin-top: 0.1em;
}

address { font-style: normal; }

#logout {
	display: inline;
	margin: 0;
	padding: 0;
}

#logout div.swat-form-field,
#logout div.swat-form-field-contents {
	display: inline;
	margin: 0;
}

#logout input.swat-button {
	margin: 0;
	padding: 4px 8px;
	vertical-align: middle;
	font-size: 11px;
}

#admin-identifier {
	vertical-align: middle;
}

#admin-navbar {
	position: relative;
	top: 2px;
	vertical-align: middle;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

@media (-webkit-min-device-pixel-ratio: 1.5),
	(min--moz-device-pixel-ratio: 1.5),
	(-o-min-device-pixel-ratio: 3/2),
	(min-resolution: 1.5dppx) {

	#confirmation_container {
		background-image: url(../images/admin-dialog-question@2x.png);
		background-size: 48px 48px
	}

}
