.admin-note {
	border: 1px solid;
	margin: 1em 0;
	min-height: 38px;
	padding: 6px 6px 6px 42px;
	background-position: 12px 12px;
	background-repeat: no-repeat;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border-color: #f0dca1;
	background-color: #fffbc9;
	background-image: url(../../swat/images/tango/22/dialog-information.png);
	color: #947140;
}

/* Hack for min-height in IE  */
* html .admin-note {
	height: 38px;
}

.admin-note-title {
	margin: 0;
	margin-top: 0;
	font-weight: bold;
	margin-top: 8px;
}
