/* Admin menu styles */

.admin-menu {
	margin-top: 1em;
	color: #666;
}

/* layouts with menu on left */
.yui-t1 .admin-menu,
.yui-t2 .admin-menu,
.yui-t3 .admin-menu {
	margin-left: 1em;
}

/* layouts with menu on right */
.yui-t4 .admin-menu,
.yui-t5 .admin-menu,
.yui-t6 .admin-menu {
	margin-right: 1em;
}

.admin-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #837352;
}

.admin-menu ul a.menu-section-title {
	display: block;
	background: #f8f6f0 url(../images/admin-menu-section-background.png) bottom left repeat-x;
	margin: 1px 1px 4px 1px;
	font-weight: bold;
	text-decoration: none;
	color: #837352;
	outline: none;
}

.admin-menu ul li.hide-menu-section a.menu-section-title {
	background: #f8f6f0 url(../images/admin-menu-section-background-closed.png) bottom left repeat-x;
	margin: 1px 1px 0 1px;
}

.admin-menu ul a.menu-section-title span {
	display: block;
	background: url(../images/admin-menu-section-open.png) center right no-repeat;
	padding: 1px 4px 3px 4px;
}

.admin-menu ul li.hide-menu-section a.menu-section-title span {
	background: url(../images/admin-menu-section-closed.png) center right no-repeat;
}

.admin-menu ul li {
	border: 1px solid #e7ddc8;
	margin-bottom: 6px;
	background: #fff;
}

.admin-menu li li {
	border: 0;
	padding: 0;
	margin: 0 4px 0 4px;
}

.admin-menu ul ul {
	padding: 0 0 0.5em 1.3em;
	list-style-type: circle;
	display: block;
}

.admin-menu ul li.hide-menu-section ul {
	display: none;
}

.admin-menu ul ul ul {
	padding-bottom: 0;
}

.admin-menu ul ul ul li {
	font-size: 85%;
}

.admin-menu a:link,
.admin-menu a:visited {
	text-decoration: none;
}

.admin-menu a:hover {
	text-decoration: underline;
}


/* Menu-hiding styles */

body.hide-menu .admin-menu {
	display: none;
}

/* layouts with menu on left */
body.hide-menu .yui-t1 #yui-main .yui-b,
body.hide-menu .yui-t2 #yui-main .yui-b,
body.hide-menu .yui-t3 #yui-main .yui-b {
	margin-left: 3em;
}

/* layouts with menu on left */
body.hide-menu .yui-t4 #yui-main .yui-b,
body.hide-menu .yui-t5 #yui-main .yui-b,
body.hide-menu .yui-t6 #yui-main .yui-b {
	margin-right: 3em;
}


body .admin-menu-hide img {
	display: block;
}

body .admin-menu-show {
	display: none;
}

body.hide-menu .admin-menu-show {
	display: block;
	position: absolute;
	top: 1em;
	left: 0;
}

body.hide-menu .yui-t1 .admin-menu-show,
body.hide-menu .yui-t2 .admin-menu-show,
body.hide-menu .yui-t3 .admin-menu-show {
	left: 0;
}

body.hide-menu .yui-t4 .admin-menu-show,
body.hide-menu .yui-t5 .admin-menu-show,
body.hide-menu .yui-t6 .admin-menu-show {
	left: auto;
	right: 0;
}
