/* Login Page Styles */

#login_frame {
	width: 27em;
	margin: 4em auto 1em auto;
	text-align: left;
}

#forgot_password_frame {
	width: 27em;
	margin: 4em auto 1em auto;
	text-align: left;
}

#reset_password_frame {
	width: 40em;
	margin: 4em auto 1em auto;
	text-align: left;
}

span.swat-required { display: none; }

#email.swat-entry {
	width: 98%;
}

#password_container.swat-displayable-container {
	float: left;
	width: 56%;
}

#password_container.no-reset-password {
	float: none;
	width: 100%;
}

#password_container.no-reset-password #password.swat-entry {
	width: 98%;
}

#password.swat-entry, #confirm_password.swat-entry {
	width: 92%;
}

#forgot_container.swat-displayable-container {
	padding-top: 2px;
}

#forgot.swat-tool-link,
#forgot.swat-tool-link:link,
#forgot.swat-tool-link:visited,
#forgot.swat-tool-link:active,
#forgot.swat-tool-link:hover {
	color: #999;
	font-size: 85%;
	border: none;
	background: transparent;
	text-decoration: underline;
}

#forgot.swat-tool-link:active,
#forgot.swat-tool-link:hover {
	color: #666;
}
