/* Admin menu styles */

.admin-menu {
	margin-top: 1em;
	margin-bottom: 1em;
	color: #666;
}

/* layouts with menu on left */
.yui-t1 .admin-menu,
.yui-t2 .admin-menu,
.yui-t3 .admin-menu {
	margin-left: 1em;
}

/* layouts with menu on right */
.yui-t4 .admin-menu,
.yui-t5 .admin-menu,
.yui-t6 .admin-menu {
	margin-right: 1em;
}

.admin-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #837352;
}

.admin-menu ul .menu-section-title {
	display: block;
	margin: 0;
	padding: 12px 12px 2px;
	color: #888;
	font-size: 85%;
}

.admin-menu ul .menu-section-title span {
	display: block;
}

.admin-menu li li a {
	display: block;
	padding: 3px 12px;
}

.admin-menu ul ul {
	display: block;
	list-style-type: none;
	padding: 0;
}

.admin-menu ul ul ul li {
	padding-left: 18px;
	font-size: 85%;
}

.admin-menu a:link,
.admin-menu a:visited {
	text-decoration: none;
}

.admin-menu a:hover {
	background: #e2e0df;
}

.admin-menu ul ul li {
	position: relative;
}

.admin-menu ul .admin-menu-help {
	position: absolute;
	right: -186px;
	width: 200px;
	top: -13px;
	display: none;
}

.admin-menu ul .admin-menu-help-arrow {
	position: absolute;
	left: 1px;
	top: 14px;
	background: url(../images/admin-menu-help-arrow.png) no-repeat 0 0;
	width: 19px;
	height: 19px;
	display: block;
}

.admin-menu ul .admin-menu-help-content {
	margin-left: 19px;
	display: block;
	background: #111;
	background: rgba(0,0,0,0.9);
	color: #eee;
	padding: 12px 16px;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0,0,0,0.5);
}

.admin-menu ul .admin-menu-help-content p:last-child {
	margin-bottom: 0;
}


/* Menu-hiding styles */

body .admin-menu-hide img {
	display: none;
}

body .admin-menu-show {
	display: none;
}
