body {
	font-family: sans-serif;
	font-size: 13px;
	background: #f7f5f3;
	color: #333;
	margin: 0;
	padding: 0;
}

a:link { color: #3F5ACE; }
a:visited { color: #3F5ACE; }
a:hover { color: #333; }
a:active { color: #000; }

img { border: 0; }


/* Basic Layout */

#admin-body { position: relative; border: 1px solid #FFF; }

#admin-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 160px;
	color: #666;
	padding: 2em 16px;
}

#admin-content {
	padding: 1em 16px 1em 200px;
}


/* Header Styles */

#admin-header {
	background: #426c9e;
	padding: 0.5em 1em;
	color: #ddd;
	border-bottom: 4px solid #81aed5;
}

#admin-header a { color: #fff; }
#admin-header a:hover { color: #ddd; }
#admin-header a:active { color: #ccc; }

#admin-header #admin-syslinks {
	float: right;
	margin: 0.3em 0 0 2em;
}

#admin-header h1 {
	margin: 0 0 0.1em 0;
	padding: 0;
	font-size: 100%;
	color: #fff;
	display: inline;
	font-weight: bold;
}

#admin-navbar {
	font-size: 140%;
}


/* Menu Styles */

#admin-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #837352;
}

#admin-menu ul span {
	display: block;
	background: #fff url(../../swat/images/swat-frame-header.png) bottom left repeat-x;
	padding: 1px 6px 3px 6px;
	margin: 1px 1px 6px 1px;
	font-weight: bold;
}

#admin-menu ul li {
	border: 1px solid #e7ddc8;
	padding-bottom: 6px;
	margin-bottom: 1em;
	background: #fff;
}

#admin-menu li li {
	border: 0;
	padding: 0;
	margin: 0 6px 0 6px;
}

#admin-menu ul ul {
	padding: 0 0 0.5em 1.3em;
	list-style-type: circle;
}

#admin-menu ul ul ul {
	padding-bottom: 0;
}

#admin-menu ul ul ul li {
	font-size: 85%;
}

#admin-menu a {
	text-decoration: none;
}

/* Content Styles */



/* Login Page Styles */

#admin-login {
	width: 25em;
	margin: 4em auto 1em auto;
}

.swat-frame h2 span {
	font-weight: normal;
}
