.admin-group-link-cell-renderer {
	padding: 0 0.6em;
	background: #f9f6f0 url(../images/admin-group-link-cell-renderer.png) top left repeat-x;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	font-weight: normal;
	text-decoration: none;
	margin-left: 0.5em;
}

span.admin-group-link-cell-renderer {
	color: #b4a386;
}
