#webalizer-content table {
	width: 99%;
}

#webalizer-content th,
#webalizer-content td {
	padding: 0.2em;
}

#webalizer-content td {
	font-size: 85%;	
	background-image: url(../../swat/images/swat-table-view-cell-background.png);
	background-position: bottom;
	background-repeat: repeat-x;
}

#webalizer-content h2 {
	margin: 0;
	font-size: 130%;
}
